@import './style.css';

/* PAGINA CHECKOUT */

#checkout .checkout_grid{
    /* border: 1px solid #000; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 16px;
    padding-bottom: 100px;
}

#checkout label{
    display: block;
    margin: 2px;
    font-weight: bold;
}

.campo_formulario {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.campo_formulario.row-1 {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 16px;
}

.campo_formulario .col-1, .campo_formulario .col-2, .campo_formulario .col-3 {
    padding:0
}

.campo_formulario .col-1, .campo_formulario .col-2, .campo_formulario .col-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.campo_formulario label{
    font-family: Signika Negative;
    font-size: 14px;
    padding-bottom: 5px;
}

.campo_formulario input, select{
    font-family: Signika Negative;
    font-size: 16px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid #cccbcb;
}

form h2{
    font-family: Signika Negative;
    font-weight: 200;
    font-style: italic;
    font-size: 40px;    
    padding: 15px;
}

/* PAGINA CHECKOUT */
