* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <CABEÇALHO> */
#topo_cabecalho{
    background-color: #7C137B;
    padding: 8px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#topo_cabecalho .container{
    display: flex;   
    justify-content: space-between;
    align-items: center;

}

.logo_container {
    width: 80px;
}

.logo_container img {
    width: 100%;
}

.input-pesq{
    width: 500px;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

.cabecalho_icones {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho_icones img {
    padding-left: 15px;
    padding-right: 5px;   
}

#navbar .container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 35px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 550;
    font-style: normal;
}

#navbar ul{
    list-style: none;
}

#navbar li{
    padding: 0 90px;
    font-size: 16px;
    color: #000;
}

#navbar li a{
    text-decoration: none;
    color: #000;
}

#navbar li a:hover{
    background-color: #fcd4fc;
    
    /* border: 1px solid #000; */
}

#header-banner {
    width: auto;
}

#header-banner img{
    width: 100%;
    border-radius: 10px;
    border: none;
    /* margin: 0px 0px 0px 110px;
    padding: 0px 0px 0px 0px; */
}
/* <CABEÇALHO> */

/* PAGINA  FALE CONOSCO*/
#fale_Conosco .grid-info_faleConosco{
    grid-template-columns: 1fr 1fr 1fr;
    border: 0px solid #000;
    margin: 15px;
    display: grid;
    column-gap: 16px;
    /* padding: 20px; */
    /* padding-bottom: 100px; */
    align-items: center;
    justify-content: space-around;
    /* padding-top: 20px;
} 

#fale_Conosco .grid-atendimento{
    border: 0px solid #000;
    /* margin: 100px; */
}

#fale_Conosco .grid-sac{
    border: 0px solid #000;
    /* margin: 100px; */
}

#fale_Conosco .grid-redes{
    border: 0px solid #000;
    /* margin: 100px; */
}

#fale_Conosco .header-banner{
    padding: 10px;
}

#fale_Conosco h2{
    font-family: Signika Negative;
    font-weight: 200;
    font-style: italic;
    font-size: 40px;    
    padding: 15px;
}

#fale_Conosco h4{
    font-family: Signika Negative;
    font-size: 20px;
    font-optical-sizing: auto;
    margin-bottom: 10px;
    font-weight: 500;   
    padding: 10px;
}

#fale_Conosco .formulario{
    border: 1px solid #000;
    box-shadow: 20px 40px 40px 10px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 20px;
    margin: 20px;
}

.campo_formulario {
    display: flex;
    padding-bottom: 10px;
}

.campo_formulario.row-1 {
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 16px;
}

.campo_formulario .col-1, .campo_formulario .col-2, .campo_formulario .col-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.campo_formulario label{
    font-size: 20px;
    padding-bottom: 5px;
    font-family: Signika Negative;
}

.campo_formulario input, select{
    font-size: 16px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid #cccbcb;
}

.campo_formulario #assunto{
    height: 50px;
}

#fale_Conosco .botao{
    justify-content: end;
    display: flex;
}
/* PAGINA  FALE CONOSCO*/

/* <FOOTER> */
.footer{
    background-color: hsl(301, 73%, 28%, 75%);
    margin-bottom: 0%;
    font-family: Signika Negative;
    font-size: 20px;
}

.container-grid_footer {
    display: flex;
    column-gap: 16px;
    margin-top: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.intitucional{
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 35px;
}

.atendimento{
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 35px;
}

.redesSociais{
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 35px;
}

hr{
    border: solid 1px;
}

.container-grid_footer h5{
    font-size: 20px;
}

.footerAbaixo{
    background-color: hsl(301, 73%, 28%, 80%);
    margin-bottom: 0%;
    font-family: Signika Negative;
    font-size: 19.5px;
    display: flex;
}

.container-grid_footer a{
    text-decoration: none;
    color: #000;
}


@media (max-width: 990px){
    * {
        overflow-x: hidden;
    }

    .container{
        max-width: 900px;
    }

    .logo_container {
        width: 50px;
    }

    .input-pesq{
        width: 200px;
        padding: 10px;
        font-size: 10px;
    }

    .cabecalho_icones img {
        padding-left: 5px;
        padding-right: 3px;
    }

    #navbar li{
        padding: 8px 10px;
        font-size: 11px;
        text-align: center;
    }

    #header-banner{
        /* width: 390px; */
        width: 80%;
    }

    .info-formDados h2{
        font-size: 30px;
    }

    .info-formDados h4{
        font-size: 15px;
    }

    .footer{
        font-size: 15px;
    }

    .container-grid_footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    
    .intitucional{
        margin-bottom: 25px;
        line-height: 30px;
    }
    
    .atendimento{
        margin-bottom: 25px;
        line-height: 30px;
    }
    
    .redesSociais{
        margin-bottom: 20px;
        line-height: 30px;
    }
    
    .container-grid_footer h5{
        font-size: 10px;
    }
    
    .footerAbaixo{
        font-size: 12px;
    }
    
}