/* <FOOTER> */
.footer{
    background-color: hsl(301, 73%, 28%, 75%);
    margin-bottom: 0%;
    font-family: Signika Negative;
    font-size: 20px;
}

.container-grid_footer {
    display: flex;
    column-gap: 16px;
    margin-top: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.intitucional{
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 35px;
}

.atendimento{
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 35px;
}

.redesSociais{
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 35px;
}

hr{
    border: solid 1px;
}

.container-grid_footer h5{
    font-size: 20px;
}

.footerAbaixo{
    background-color: hsl(301, 73%, 28%, 80%);
    margin-bottom: 0%;
    font-family: Signika Negative;
    font-size: 19.5px;
    display: flex;
}

.container-grid_footer a{
    text-decoration: none;
    color: #000;
}

/* <FOOTER> */