/* <CABEÇALHO> */
#topo_cabecalho{
    background-color: #7C137B;
    padding: 8px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#topo_cabecalho .container{
    display: flex;   
    justify-content: space-between;
    align-items: center;
}

.logo_container {
    width: 80px;
}

.logo_container img {
    width: 100%;
}

.input-pesq{
    width: 500px;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

.cabecalho_icones {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho_icones img {
    padding-left: 15px;
    padding-right: 5px;   
}

#navbar .container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 35px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 550;
    font-style: normal;
}

#navbar ul{
    list-style: none;
}

#navbar li{
    padding: 0 90px;
    font-size: 16px;
    color: #000;
}

#navbar li a{
    text-decoration: none;
    color: #000;
}

#navbar li a:hover{
    background-color: #fcd4fc;
    
    /* border: 1px solid #000; */
}

#header-banner {
    width: auto;
}

#header-banner img{
    width: 100%;
      border-radius: 10px;
    border: none;
    /* margin: 0px 0px 0px 110px;
    padding: 0px 0px 0px 0px; */
}
/* <CABEÇALHO> */