/* PAGINA PRAZO DE ENVIOS */
#pra_envio h2{
    font-family: Signika Negative;
    font-weight: 200;
    font-style: italic;
    font-size: 60px;    
    padding: 15px;
}

#pra_envio h4{
    font-family: Signika Negative;
    font-size: 25px;
    font-optical-sizing: auto;
    margin-bottom: 10px;
    font-weight: 500;   
    padding: 10px;
}

#pra_envio ul{
    list-style-type: circle;
}
/* PAGINA PRAZO DE ENVIOS */