/* PAGINA PRODUTOS-CATALOGO */
#produto .product-page-title h2{
    font-family: Signika Negative;
    font-weight: 700;
    font-style: italic;
    font-size: 25px;
}

#produto .product-page-title h6{
    font-family: Signika Negative;
    font-size: 15px;
    padding-left: 10px;
}

#produto .product-page-title{
    border: #000;
    border: 1px;
    box-shadow: 20px 40px 40px 10px rgba(0, 0, 0, 0.04);
    background-color: #fff;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 10px 10px 10px 10px;
    
}

#produto .product-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 16px;
    padding-bottom: 100px;
}

#produto .col-1{
    width: 70%;
}

#produto .grid-images{
    display: flex;
    align-items: flex-start;
    border: 1px;
    box-shadow: rgba(0, 0, 0, 0.04) 20px 40px 40px 10px; 
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
    border-radius: 15px;
}

.image-carrousel{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#produto .thumb{
    width: 80px;
    border: 1px ;
    /* box-shadow: 20px 40px 40px 10px rgba(0, 0, 0, 0.04); */
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
}

#produto .thumb img{
    width: 100%;
    object-fit: contain;
}

#produto .main-image-container{
    width: 100%;
    border: 1px;
    /* box-shadow: rgba(0, 0, 0, 0.04) 20px 40px 40px 10px; */
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
}

#produto .main-image-container img{
    object-fit: contain;
}

.product-description p{
    font-family: Signika Negative;
    font-size: 20px;
    font-style: normal;
    font-optical-sizing: auto;
    padding-top: 30px;
}

.product-description{
    border: 1px;
    box-shadow: 20px 40px 40px 10px rgba(0, 0, 0, 0.04);
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
}

#produto .col-2{
    /* border: #000; */
    /* width: 950px; */
    border: 1px;
    box-shadow: 20px 40px 40px 10px rgba(0, 0, 0, 0.04);
    background-color: #fff;
    border-radius: 15px;
    /* margin-top: 20px; */
    margin-bottom: 15px;
    /* padding: 10px 10px 10px 10px; */
    padding: 35px 15px;
}

.price-container{
    border: 0px solid #000;
    border-radius: 10px;
    padding: 5px;
}

.price-container h3{
    font-family: Signika Negative;
    font-size: 35px;
    font-style: normal;
    font-optical-sizing: auto;
    padding-bottom: 8px;
}

.price-container p{
    font-family: Signika Negative;
    font-size: 20px;
    font-style: normal;
    font-optical-sizing: auto;
    margin-bottom: 10px;
}

.price-container input{
    width: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 1px rgb(214, 214, 214);
    margin: 10px 0px;
}

.frete-container{
    border: 0px solid #000;
    border-radius: 10px;
    padding: 5px;
    margin-top: 30px;
}

.frete-container input{
    font-family: Signika Negative;
    font-size: 16px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid #cccbcb;
}

.frete-container h5{
    font-family: Signika Negative;
    font-size: 15px;
    font-style: normal;
    font-optical-sizing: auto;
    padding-bottom: 8px;
}

.frete-container a{
    font-family: Signika Negative;
    font-size: 13px;
    font-style: normal;
    font-optical-sizing: auto;
    color: #000;
    margin: 10px 0px 0px 5px;
}
/* PAGINA PRODUTOS-CATALOGO */
