/* PAGINA SOBRE NOS */

#sobre-Nos .grid-sobre{
    border: 0px solid #000;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 

#sobre-Nos .grid-info{
    border: 0px solid #000;
    /* margin: 100px; */
}

#sobre-Nos .grid-img{
    border: 0px solid #000;
    /* margin: 100px; */
    padding: 50px;
    /* width: 100%; */
    height: 100%;
    object-fit: contain;
}

#sobre-Nos h2{
    /* font-family: "Pacifico", cursive; */
    font-family: Signika Negative;
    font-weight: 200;
    font-style: italic;
    font-size: 60px;    
    padding: 15px;
}

#sobre-Nos h4{
    font-family: Signika Negative;
    font-size: 20px;
    /* font-style: normal; */
    font-optical-sizing: auto;
    margin-bottom: 10px;
    font-weight: 500;   
    padding: 10px;
}

#sobre-Nos .info2{
    border: 0px solid #000;
    text-align: center;
    padding: 20px;
}
/* PAGINA SOBRE NOS */
